<div class="row">
    <div class="card col-3" style="width: 18rem;" *ngFor="let item of products">
        <img class="card-img-top" alt="Đồng Hồ Thông Minh" src={{item.image}}>
        <div class="card-body">
            <h5 class="card-title">{{item.productName}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{item.price - (item.price*item.promotionPrice)/100}}</li>
            <li class="list-group-item text-center text-decoration-line-through">{{item.price}} VND</li>
        </ul>
        <div class="card-body">
            <button class="btn w-100 btn-outline-primary" (click)="addToCart(item)">Add to cart</button>
        </div>
    </div>
</div>